@import "tailwindcss";

@font-face {
  font-family: 'Cursive 2';
  src: url('/Cursive_2.ttf') format('truetype');
}

@font-face {
  font-family: 'cursive_2';
  src: url('/Cursive_2.ttf') format('truetype');
}

@font-face {
  font-family: 'Cursive 3';
  src: url('/Cursive_3.ttf') format('truetype');
}

@font-face {
  font-family: 'cursive_3';
  src: url('/Cursive_3.ttf') format('truetype');
}

@font-face {
  font-family: 'Cursive Real';
  src: url('/Cursive_real.ttf') format('truetype');
}

@font-face {
  font-family: 'cursive_real';
  src: url('/Cursive_real.ttf') format('truetype');
}

@font-face {
  font-family: 'GH Hughes';
  src: url('/QEGHHughes.ttf') format('truetype');
}

@font-face {
  font-family: 'gh_hughes';
  src: url('/QEGHHughes.ttf') format('truetype');
}

@font-face {
  font-family: 'Hindi Type';
  src: url('/Hindi_Type.ttf') format('truetype');
}

@font-face {
  font-family: 'hindi_type';
  src: url('/Hindi_Type.ttf') format('truetype');
}

@theme {
  --font-cursive-2: "cursive_2", cursive;
  --font-cursive-3: "cursive_3", cursive;
  --font-cursive-real: "cursive_real", cursive;
  --font-gh-hughes: "gh_hughes", cursive;
  --font-hindi-type: "hindi_type", cursive;
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  @apply bg-zinc-50 text-zinc-900 antialiased;
}
